/* Styles for the hero section */

.hero p {
  font-size: 18px;
  max-width: 100%;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 16px;
  }

  .actions {
    flex-direction: column;
  }

  .dashboard-preview img {
    width: 100%;
  }
  .semi-col-12.hidden {
    display: none;
  }
  .hidden-xs {
    display: none;
  }
  .hamburger {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .access-button button {
    padding: 14px 20px !important;
    font-size: 16px;
  }
  .access-button {
    margin-top: 20px;
  }
  .announcement {
    display: none;
  }
  .actions .btn {
    padding: 13px 55px;
  }
  .guide-actions .btn {
    padding: 13px 55px;
  }
  .api-fast-head img {
    display: none;
  }
  .panel-desc-card {
    margin-bottom: 20px;
  }
  .search-actions {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  #recharge-btn {
    margin-bottom: 20px;
  }
  .hero.api-fast-sec {
    margin: 0;
  }
  .hero.api-fast-sec .content {
    padding-bottom: 70px;
    padding-top: 10px;
  }
  .api-fast-sec .dashboard-preview .light {
    display: none;
  }
  .api-fast-head {
    display: block;
  }
  .guide-container {
    padding: 0 20px;
  }
  /* Footer css */
  .footer-sec {
    justify-content: start;
    align-items: start;
    flex-direction: column;
    row-gap: 30px;
  }
  .footer-sec ul {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: start;
  }
  .footer-sec ul li a {
    font-size: 16px;
    font-family: 'K2D';
    font-weight: 400;
    color: #7a7a7a;
    text-decoration: none;
  }
}

/* Styles for the model section */
.model-section h2 {
  font-size: 120px;
}

.model-section h2 span {
  font-size: 60px;
}

@media (max-width: 960px) {
  .model-section h2 {
    font-size: 80px;
  }

  .model-section h2 span {
    font-size: 40px;
  }

  .brand h3 {
    font-size: 28px;
  }

  .brand p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .model-section h2 {
    font-size: 80px;
    padding-bottom: 30px;
  }
  .model-section h2 span {
    font-size: 80px;
  }
  .model-actions {
    flex-direction: column;
  }
  .model-section .MuiGrid-container {
    row-gap: 40px;
    width: 100%;
    margin: 0;
  }
  .model-actions .btn {
    padding: 14px 55px;
  }
}

/* Responsive styles for the slider section */
@media (max-width: 960px) {
  .slider-item {
    height: auto;
    min-height: 300px;
  }
}

@media (max-width: 600px) {
  .slider-item {
    min-height: 250px;
  }
}

/* Styles for the support model section */
@media (max-width: 960px) {
  .support-model {
    padding-top: 200px;
  }

  .support-model .content h3 {
    font-size: 36px;
  }

  .support-model .content p {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .support-model {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .support-model .content h3 {
    font-size: 28px;
  }

  .support-model .content p {
    font-size: 16px;
  }
  .dash-actions .wallet {
    display: none;
  }

  .dash-actions .wallet + .semi-navigation-item {
    display: none;
  }
  .head-title {
    display: none;
  }
}

/* Styles for the guide container */
@media (max-width: 960px) {
  .guide-container > div {
    width: 100%;
    margin: 0;
    padding: 30px 20px;
    margin-top: 70px;
  }

  .guide-left h4 {
    font-size: 28px;
  }

  .guide-left p {
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 30px;
  }

  p.guide-description {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .guide-container > div {
    padding: 50px 20px;
    margin-top: 60px;
    row-gap: 50px;
  }

  .guide-left h4 {
    font-size: 24px;
  }

  .guide-actions {
    flex-direction: column;
  }
}
